.App {
  text-align: center;
  color: black;
}

/* Change the background style with the active page */

.Home {
  background-image: linear-gradient(#AB9AE3, #DFB183);
  height: 100vh;
}

.MusicVideos { background-image: linear-gradient(#615C9C, #E39C8F); }

.Illustrations { background-image: linear-gradient(#000000, #8F97E3); }

.Paintings { background-image: linear-gradient(#273A89, #E0D6C0); }

.UX {
  background-image: linear-gradient(#3762C6, #A5CAE5);
  height: 100vh;
}

.Contact {
  background-image: linear-gradient(#3446E8, #DFE1D3);
  height: 100vh;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}