.title {
    font-size: 7rem;
}

.subtitle {
    font-size: 1.5rem;
}

.bio {
    background-color: #DFB183;
    border-radius: 25px;
}

.ux {
    background-color: #DFB183;
    border-radius: 25px;
}