/* Title size on xs devices */
.title {
    font-size: 4rem;
}

/* Increase title size on sm devices */
@media (min-width: 544px) {
    .title {font-size: 6rem;}
}

/* Increase title size more on md, lg, and xl devies */
@media (min-width: 768px) {
    .title {font-size: 7rem;}
}

.subtitle {
    font-size: 1.5rem;
}

.bio {
    background-color: #DFB183;
    border-radius: 25px;
    margin-bottom: 3rem;
}

@media (min-width: 544px) {
    .bio {margin-bottom: 0rem;}
}

.ux {
    background-color: #DFB183;
    border-radius: 25px;
}