.Illustrations-Component {
  color: #F7EFB9;
}

.Illustrations-Component .illustrations-container {
  display: flex;
  flex-wrap: wrap;

  padding: 1rem;
  width: 75%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
}

.Illustrations-Component .illustrations-container img {
  height: 175px;
  margin: 1rem;
}

.Illustrations-Component p {
  font-size: 1.2rem;
}