.Contact-Component {
  text-align: left;
}

.Contact-Component .profile {
  text-align: center;
}

.Contact-Component img {
  width: 30%;
  border-radius: 25px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);

  transition: 0.5s;
}

.Contact-Component img:hover {
  width: 35%;
}

.fa {
  padding: 20px;
  margin: 1rem;
  font-size: 30px;
  width: 70px;
  height: 70px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  text-decoration: none;
}

.fa-youtube {
  background: #FF0000;
  color: #FFFFFF;
  padding-left: 20.5px;

  transition: 0.25s;
}

.fa-youtube:hover {
  background: rgb(217, 255, 0);
  color: #000000;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
}

.fa-linkedin {
  background: #2867B2;
  color: #FFFFFF;
  padding-left: 23px;

  transition: 0.25s;
}

.fa-linkedin:hover {
  background: rgb(217, 255, 0);
  color: #000000;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
}

.fa-instagram {
  background: url('../../img/ig_gradient.jpg');
  background-size: 100%;
  color: #FFFFFF;
  padding-left: 20.5px;

  transition: 0.25s;
}

.fa-instagram:hover {
  background: rgb(217, 255, 0);
  color: #000000;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
}

.fa-spotify {
  background: #191414;
  color: #1DB954;
  padding-left: 20.5px;

  transition: 0.25s;
}

.fa-spotify:hover {
  background: rgb(217, 255, 0);
  color: #000000;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
}

.fa-soundcloud {
  background: #FE5000;
  color: #FFFFFF;
  padding-top: 23px;
  font-size: 24px;

  transition: 0.25s;
}

.fa-soundcloud:hover {
  background: rgb(217, 255, 0);
  color: #000000;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
}

.fa-github {
  background: #333333;
  color: #fafafa;

  transition: 0.25s;
}

.fa-github a {
  padding-left: 20.5px;
  padding-top: 19px;
}

.fa-github:hover {
  background: rgb(217, 255, 0);
  color: #000000;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
}

.Contact-Component p {
  font-weight: 100;
  font-size: 1.2rem;
}

.fb-survey a {
  font-weight: 200;
  font-size: 1.2rem;
  color: rgb(217, 255, 0);
  background-color: #3446E8;
  padding: 0.5rem;

  transition: 0.25s;
}

.fb-survey a:hover {
  text-decoration: none;
  color: rgb(217, 255, 0);
  background-color: black;
  padding: 0.75rem;
}