.MusicVideos-Component {
  color: white;
  text-align: left;
}

.MusicVideos-Component .mv-container {
  padding: 1rem;
  width: 75%;
  background-color: #E39C8F;
  border-radius: 25px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
}

.MusicVideos-Component .mv-container iframe {
  width: 100%;
  height: 215px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.MusicVideos-Component p {
  font-size: 1.2rem;
  font-weight: 200;
}

.MusicVideos-Component .tree-2 {
  margin-top: 1rem;
}