/* Change the icon color with the active page */

.Home svg {
  fill: black;
}

.MusicVideos svg {
  fill: white;
}

.Illustrations svg {
  fill: #F7EFB9;
}

.Paintings svg {
  fill: white;
}

.UX svg {
  fill: white;
}

.Contact svg {
  fill: black;
}