.UX-Component {
  color: white;
  text-align: left;
}

.UX-Component h1 {
  text-align: center;
}

.UX-Component .project-container {
  background-color: #A5CAE5;
  border-radius: 25px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
}